<p id="notice"><%= notice %></p>

<p>
  <b>Pirty:</b>
  <%= @structure.pirty_id %>
</p>

<p>
  <b>Poke:</b>
  <%= @structure.poke_id %>
</p>

<p>
  <b>Characteristic:</b>
  <%= @structure.characteristic %>
</p>

<p>
  <b>Belonging:</b>
  <%= @structure.belonging %>
</p>

<p>
  <b>Skill1:</b>
  <%= @structure.skill1 %>
</p>

<p>
  <b>Skill2:</b>
  <%= @structure.skill2 %>
</p>

<p>
  <b>Skill3:</b>
  <%= @structure.skill3 %>
</p>

<p>
  <b>Skill4:</b>
  <%= @structure.skill4 %>
</p>

<p>
  <b>Efforth:</b>
  <%= @structure.efforth %>
</p>

<p>
  <b>Efforta:</b>
  <%= @structure.efforta %>
</p>

<p>
  <b>Effortb:</b>
  <%= @structure.effortb %>
</p>

<p>
  <b>Effortc:</b>
  <%= @structure.effortc %>
</p>

<p>
  <b>Effortd:</b>
  <%= @structure.effortd %>
</p>

<p>
  <b>Efforts:</b>
  <%= @structure.efforts %>
</p>


<%= link_to 'Edit', edit_structure_path(@structure) %> |
<%= link_to 'Back', structures_path %>
