<h1>Listing pokeparties</h1>
<!--  <tr>
    <th>Party</th>
    <th>Battle</th>
    <th>Win</th>
    <th>Battletype</th>
    <th>Rule</th>
    <th>Shooter</th>
    <th>Strategic</th>
    <th>Name1</th>
    <th>Role1</th>
    <th>Name2</th>
    <th>Role2</th>
    <th>Name3</th>
    <th>Role3</th>
    <th>Name4</th>
    <th>Role4</th>
    <th>Name5</th>
    <th>Role5</th>
    <th>Name6</th>
    <th>Role6</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>-->
<table>
  <% @pokeparties.each do |pokeparty| %>
    <tr><%= pokeparty.party %>
      <%= pokeparty.battle %>
      <%= pokeparty.win %></h3>
    <%= pokeparty.battletype %>
    <%= pokeparty.rule %>
    <%= pokeparty.shooter %><br>
  </tr>
  <tr>
    <%= pokeparty.name1 %>
    <%= pokeparty.role1 %><br>
    <%= pokeparty.name2 %>
    <%= pokeparty.role2 %><br>
    <%= pokeparty.name3 %>
    <%= pokeparty.role3 %><br>
    <%= pokeparty.name4 %>
    <%= pokeparty.role4 %><br>
    <%= pokeparty.name5 %>
    <%= pokeparty.role5 %><br>
    <%= pokeparty.name6 %>
    <%= pokeparty.role6 %><br>
  </tr>
    <td><%= link_to 'Show', pokeparty %></td>
    <td><%= link_to 'Edit', edit_pokeparty_path(pokeparty) %></td>
    <td><%= link_to 'Destroy', pokeparty, confirm: 'Are you sure?', method: :delete %></td>
<% end %>
</table>

<br />

<%= link_to 'New Pokeparty', new_pokeparty_path %>
