<p id="notice"><%= notice %></p>

<p>
  <b>Party:</b>
  <%= @pokeparty.party %>
</p>

<p>
  <b>Battle:</b>
  <%= @pokeparty.battle %>
</p>

<p>
  <b>Win:</b>
  <%= @pokeparty.win %>
</p>

<p>
  <b>Battletype:</b>
  <%= @pokeparty.battletype %>
</p>

<p>
  <b>Rule:</b>
  <%= @pokeparty.rule %>
</p>

<p>
  <b>Shooter:</b>
  <%= @pokeparty.shooter %>
</p>

<p>
  <b>Strategic:</b>
  <%= @pokeparty.strategic %>
</p>

<p>
  <b>Name1:</b>
  <%= @pokeparty.name1 %>
</p>

<p>
  <b>Characteristic1:</b>
  <%= @pokeparty.characteristic1 %>
</p>

<p>
  <b>Personality1:</b>
  <%= @pokeparty.personality1 %>
</p>

<p>
  <b>skill1_1:</b>
  <%= @pokeparty.skill1_1 %>
</p>

<p>
  <b>skill1_2:</b>
  <%= @pokeparty.skill1_2 %>
</p>

<p>
  <b>skill1_3:</b>
  <%= @pokeparty.skill1_3 %>
</p>

<p>
  <b>skill1_4:</b>
  <%= @pokeparty.skill1_4 %>
</p>

<p>
  <b>Belonging1:</b>
  <%= @pokeparty.belonging1 %>
</p>

<p>
  <b>Efforth1:</b>
  <%= @pokeparty.efforth1 %>
</p>

<p>
  <b>Efforta1:</b>
  <%= @pokeparty.efforta1 %>
</p>

<p>
  <b>Effortb1:</b>
  <%= @pokeparty.effortb1 %>
</p>

<p>
  <b>Effortc1:</b>
  <%= @pokeparty.effortc1 %>
</p>

<p>
  <b>Effortd1:</b>
  <%= @pokeparty.effortd1 %>
</p>

<p>
  <b>Efforts1:</b>
  <%= @pokeparty.efforts1 %>
</p>

<p>
  <b>Role1:</b>
  <%= @pokeparty.role1 %>
</p>

<p>
  <b>Detail1:</b>
  <%= @pokeparty.detail1 %>
</p>

<p>
  <b>Name2:</b>
  <%= @pokeparty.name2 %>
</p>

<p>
  <b>Characteristic2:</b>
  <%= @pokeparty.characteristic2 %>
</p>

<p>
  <b>Personality2:</b>
  <%= @pokeparty.personality2 %>
</p>

<p>
  <b>skill2_1:</b>
  <%= @pokeparty.skill2_1 %>
</p>

<p>
  <b>skill2_2:</b>
  <%= @pokeparty.skill2_2 %>
</p>

<p>
  <b>skill2_3:</b>
  <%= @pokeparty.skill2_3 %>
</p>

<p>
  <b>skill2_4:</b>
  <%= @pokeparty.skill2_4 %>
</p>

<p>
  <b>Belonging2:</b>
  <%= @pokeparty.belonging2 %>
</p>

<p>
  <b>Efforth2:</b>
  <%= @pokeparty.efforth2 %>
</p>

<p>
  <b>Efforta2:</b>
  <%= @pokeparty.efforta2 %>
</p>

<p>
  <b>Effortb2:</b>
  <%= @pokeparty.effortb2 %>
</p>

<p>
  <b>Effortc2:</b>
  <%= @pokeparty.effortc2 %>
</p>

<p>
  <b>Effortd2:</b>
  <%= @pokeparty.effortd2 %>
</p>

<p>
  <b>Efforts2:</b>
  <%= @pokeparty.efforts2 %>
</p>

<p>
  <b>Role2:</b>
  <%= @pokeparty.role2 %>
</p>

<p>
  <b>Detail2:</b>
  <%= @pokeparty.detail2 %>
</p>

<p>
  <b>Name3:</b>
  <%= @pokeparty.name3 %>
</p>

<p>
  <b>Characteristic3:</b>
  <%= @pokeparty.characteristic3 %>
</p>

<p>
  <b>Personality3:</b>
  <%= @pokeparty.personality3 %>
</p>

<p>
  <b>skill3_1:</b>
  <%= @pokeparty.skill3_1 %>
</p>

<p>
  <b>skill3_2:</b>
  <%= @pokeparty.skill3_2 %>
</p>

<p>
  <b>skill3_3:</b>
  <%= @pokeparty.skill3_3 %>
</p>

<p>
  <b>skill3_4:</b>
  <%= @pokeparty.skill3_4 %>
</p>

<p>
  <b>Belonging3:</b>
  <%= @pokeparty.belonging3 %>
</p>

<p>
  <b>Efforth3:</b>
  <%= @pokeparty.efforth3 %>
</p>

<p>
  <b>Efforta3:</b>
  <%= @pokeparty.efforta3 %>
</p>

<p>
  <b>Effortb3:</b>
  <%= @pokeparty.effortb3 %>
</p>

<p>
  <b>Effortc3:</b>
  <%= @pokeparty.effortc3 %>
</p>

<p>
  <b>Effortd3:</b>
  <%= @pokeparty.effortd3 %>
</p>

<p>
  <b>Efforts3:</b>
  <%= @pokeparty.efforts3 %>
</p>

<p>
  <b>Role3:</b>
  <%= @pokeparty.role3 %>
</p>

<p>
  <b>Detail3:</b>
  <%= @pokeparty.detail3 %>
</p>

<p>
  <b>Name4:</b>
  <%= @pokeparty.name4 %>
</p>

<p>
  <b>Characteristic4:</b>
  <%= @pokeparty.characteristic4 %>
</p>

<p>
  <b>Personality4:</b>
  <%= @pokeparty.personality4 %>
</p>

<p>
  <b>skill4_1:</b>
  <%= @pokeparty.skill4_1 %>
</p>

<p>
  <b>skill4_2:</b>
  <%= @pokeparty.skill4_2 %>
</p>

<p>
  <b>skill4_3:</b>
  <%= @pokeparty.skill4_3 %>
</p>

<p>
  <b>skill4_4:</b>
  <%= @pokeparty.skill4_4 %>
</p>

<p>
  <b>Belonging4:</b>
  <%= @pokeparty.belonging4 %>
</p>

<p>
  <b>Efforth4:</b>
  <%= @pokeparty.efforth4 %>
</p>

<p>
  <b>Efforta4:</b>
  <%= @pokeparty.efforta4 %>
</p>

<p>
  <b>Effortb4:</b>
  <%= @pokeparty.effortb4 %>
</p>

<p>
  <b>Effortc4:</b>
  <%= @pokeparty.effortc4 %>
</p>

<p>
  <b>Effortd4:</b>
  <%= @pokeparty.effortd4 %>
</p>

<p>
  <b>Efforts4:</b>
  <%= @pokeparty.efforts4 %>
</p>

<p>
  <b>Role4:</b>
  <%= @pokeparty.role4 %>
</p>

<p>
  <b>Detail4:</b>
  <%= @pokeparty.detail4 %>
</p>

<p>
  <b>Name5:</b>
  <%= @pokeparty.name5 %>
</p>

<p>
  <b>Characteristic5:</b>
  <%= @pokeparty.characteristic5 %>
</p>

<p>
  <b>Personality5:</b>
  <%= @pokeparty.personality5 %>
</p>

<p>
  <b>skill5_1:</b>
  <%= @pokeparty.skill5_1 %>
</p>

<p>
  <b>skill5_2:</b>
  <%= @pokeparty.skill5_2 %>
</p>

<p>
  <b>skill5_3:</b>
  <%= @pokeparty.skill5_3 %>
</p>

<p>
  <b>skill5_4:</b>
  <%= @pokeparty.skill5_4 %>
</p>

<p>
  <b>Belonging5:</b>
  <%= @pokeparty.belonging5 %>
</p>

<p>
  <b>Efforth5:</b>
  <%= @pokeparty.efforth5 %>
</p>

<p>
  <b>Efforta5:</b>
  <%= @pokeparty.efforta5 %>
</p>

<p>
  <b>Effortb5:</b>
  <%= @pokeparty.effortb5 %>
</p>

<p>
  <b>Effortc5:</b>
  <%= @pokeparty.effortc5 %>
</p>

<p>
  <b>Effortd5:</b>
  <%= @pokeparty.effortd5 %>
</p>

<p>
  <b>Efforts5:</b>
  <%= @pokeparty.efforts5 %>
</p>

<p>
  <b>Role5:</b>
  <%= @pokeparty.role5 %>
</p>

<p>
  <b>Detail5:</b>
  <%= @pokeparty.detail5 %>
</p>

<p>
  <b>Name6:</b>
  <%= @pokeparty.name6 %>
</p>

<p>
  <b>Characteristic6:</b>
  <%= @pokeparty.characteristic6 %>
</p>

<p>
  <b>Personality6:</b>
  <%= @pokeparty.personality6 %>
</p>

<p>
  <b>skill6_1:</b>
  <%= @pokeparty.skill6_1 %>
</p>

<p>
  <b>skill6_6:</b>
  <%= @pokeparty.skill6_6 %>
</p>

<p>
  <b>skill6_3:</b>
  <%= @pokeparty.skill6_3 %>
</p>

<p>
  <b>skill6_4:</b>
  <%= @pokeparty.skill6_4 %>
</p>

<p>
  <b>Belonging6:</b>
  <%= @pokeparty.belonging6 %>
</p>

<p>
  <b>Efforth6:</b>
  <%= @pokeparty.efforth6 %>
</p>

<p>
  <b>Efforta6:</b>
  <%= @pokeparty.efforta6 %>
</p>

<p>
  <b>Effortb6:</b>
  <%= @pokeparty.effortb6 %>
</p>

<p>
  <b>Effortc6:</b>
  <%= @pokeparty.effortc6 %>
</p>

<p>
  <b>Effortd6:</b>
  <%= @pokeparty.effortd6 %>
</p>

<p>
  <b>Efforts6:</b>
  <%= @pokeparty.efforts6 %>
</p>

<p>
  <b>Role6:</b>
  <%= @pokeparty.role6 %>
</p>

<p>
  <b>Detail6:</b>
  <%= @pokeparty.detail6 %>
</p>


<%= link_to 'Edit', edit_pokeparty_path(@pokeparty) %> |
<%= link_to 'Back', pokeparties_path %>
