<h2><%= @pokeparty.party %></h2>
<table>
  <% (1..6).each do|no|%>
  <%= eval("@pokeparty.name#{no}") %>  役割:<%= eval("@pokeparty.role#{no}") %><br>
  せいかく:<%= eval("@pokeparty.personality#{no}") %>
  とくせい:<%= eval("@pokeparty.characteristic#{no}") %><br>
  技
  <%= eval("@pokeparty.skill#{no}_1") %>/
  <%= eval("@pokeparty.skill#{no}_2") %>/
  <%= eval("@pokeparty.skill#{no}_3") %>/
  <%= eval("@pokeparty.skill#{no}_4") %><br>
  持ち物:<%= eval("@pokeparty.belonging#{no}") %><br>
  努力値配分<br>
  HP:<%= eval("@pokeparty.efforth#{no}") %>
  こうげき:<%= eval("@pokeparty.efforta#{no}") %>
  ぼうぎょ:<%= eval("@pokeparty.effortb#{no}") %>
  とくこう:<%= eval("@pokeparty.effortc#{no}") %>
  とくぼう:<%= eval("@pokeparty.effortd#{no}") %>
  すばやさ:<%= eval("@pokeparty.efforts#{no}") %><br>
  詳細<br>
  <%= eval("@pokeparty.detail#{no}") %><br><br>
  <%end%>
</table>

<%= link_to 'Edit', edit_pokeparty_path(@pokeparty) %> |
<%= link_to 'Back', pokeparties_path %>
