<%= form_for(@pokeparty) do |f| %>
  <% if @pokeparty.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pokeparty.errors.count, "error") %> prohibited this pokeparty from being saved:</h2>

      <ul>
      <% @pokeparty.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    パーティ名
    <%= f.text_field :party %>
  </div>
  <div class="field">
    対戦回数
    <%= f.number_field :battlec %>
  </div>
  <div class="field">
    勝利数　
    <%= f.number_field :winc %>
  </div>
  <div class="field">
    <%= f.label :battletype %><br />
    <%= f.text_field :battletype %>
  </div>
  <div class="field">
    <%= f.label :rule %><br />
    <%= f.text_field :rule %>
  </div>
  <div class="field">
    <%= f.label :shooter %><br />
    <%= f.text_field :shooter %>
  </div>
  <div class="field">
    <%= f.label :strategic %><br />
    <%= f.text_area :strategic %>
  </div>

  <% (1..6).each do |no| %>
  <div class="field">
    <%= eval("f.label :p#{no}name") %><br />
    <%= eval("f.text_field :p#{no}name") %>
  </div>
  <div class="field">
    <%= eval("f.label :p#{no}abilites") %><br />
    <%= eval("f.text_field :p#{no}abilites") %>
  </div>
  <div class="field">
    <%= eval("f.label :p#{no}personality") %><br />
    <%= eval("f.text_field :p#{no}personality") %>
  </div>
  <div class="field">
    <%= eval("f.label :p#{no}belonging") %><br />
    <%= eval("f.text_field :p#{no}belonging") %>
  </div>
  <div class="field">
    <%= eval("f.label :p#{no}role") %><br />
    <%= eval("f.text_field :p#{no}role") %>
  </div>
  <div class="field">
    <%= eval("f.label :p#{no}trick1") %><br />
    <%= eval("f.text_field :p#{no}trick1") %>
  </div>
  <div class="field">
    <%= eval("f.label :p#{no}trick2") %><br />
    <%= eval("f.text_field :p#{no}trick2") %>
  </div>
  <div class="field">
    <%= eval("f.label :p#{no}trick3") %><br />
    <%= eval("f.text_field :p#{no}trick3") %>
  </div>
  <div class="field">
    <%= eval("f.label :p#{no}trick4") %><br />
    <%= eval("f.text_field :p#{no}trick4") %>
  </div>
  <div class="field">
    <%= eval("f.label :p#{no}evh") %><br />
    <%= eval("f.number_field :p#{no}evh") %>
  </div>
  <div class="field">
    <%= eval("f.label :p#{no}eva") %><br />
    <%= eval("f.number_field :p#{no}eva") %>
  </div>
  <div class="field">
    <%= eval("f.label :p#{no}evb") %><br />
    <%= eval("f.number_field :p#{no}evb") %>
  </div>
  <div class="field">
    <%= eval("f.label :p#{no}evc") %><br />
    <%= eval("f.number_field :p#{no}evc") %>
  </div>
  <div class="field">
    <%= eval("f.label :p#{no}evd") %><br />
    <%= eval("f.number_field :p#{no}evd") %>
  </div>
  <div class="field">
    <%= eval("f.label :p#{no}evs") %><br />
    <%= eval("f.number_field :p#{no}evs") %>
  </div>
  <div class="field">
    <%= eval("f.label :p#{no}detail") %><br />
    <%= eval("f.text_area :p#{no}detail") %>
  </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
