<%= form_for(@pokeparty) do |f| %>
  <% if @pokeparty.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pokeparty.errors.count, "error") %> prohibited this pokeparty from being saved:</h2>

      <ul>
      <% @pokeparty.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    パーティ名
    <%= f.text_field :party %>
  </div>
    <div class="field">
    対戦回数
    <%= f.number_field :battlec %>
  </div>
  <div class="field">
    勝利数
    <%= f.number_field :winc %>
  </div>
  <div class="field">
    対戦形式
      <select size="1" <%= f.text_field :battletype %>>
        <option value="シングルバトル">シングルバトル</option>
        <option value="ダブルバトル" >ダブルバトル</option>
      </select>
  </div>
  <div class="field">
    ルール
    <%= f.text_field :rule %>
  </div>
  <div class="field">
    ミラクルシューター
      <select size="1" <%= f.text_field :shooter%>>
        <option value="あり">あり</option>
        <option value="なし" >なし</option>
      </select>
  </div>
  <div class="field">
    立ち回り<br>
    <%= f.text_area :strategic %>
  </div>

  <% (1..6).each do |no| %>
    <h3><%= eval("#{no}") %>匹目</h3>
  <div class="field">
    ポケモン
    <%= eval("f.text_field :p#{no}name") %>
    とくせい
    <%= eval("f.text_field :p#{no}abilites") %>
  </div>
  <div class="field">
    せいかく
    <%= eval("f.text_field :p#{no}personality") %>
    持ち物
    <%= eval("f.text_field :p#{no}belonging") %>
  </div>
  <div class="field">
    役割
    <%= eval("f.text_field :p#{no}role") %>
  </div>
  <div class="field">
    技1
    <%= eval("f.text_field :p#{no}trick1") %>
    技2 
    <%= eval("f.text_field :p#{no}trick2") %>
  </div>
  <div class="field">
    技3
    <%= eval("f.text_field :p#{no}trick3") %>
    技4
    <%= eval("f.text_field :p#{no}trick4") %>
  </div>
  <h4> 努力値配分 </h4>
  <div class="field">
    HP努力値 
    <%= eval("f.number_field :p#{no}evh") %>
    攻撃努力値
    <%= eval("f.number_field :p#{no}eva") %>
  </div>
  <div class="field">
    防御努力値
    <%= eval("f.number_field :p#{no}evb") %>
    特攻努力値
    <%= eval("f.number_field :p#{no}evc") %>
  </div>
  <div class="field">
    特防努力値
    <%= eval("f.number_field :p#{no}evd") %>
    すばやさ努力値
    <%= eval("f.number_field :p#{no}evs") %>
  </div>
  <div class="field">
    <h4>役割詳細</h4>
    <%= eval("f.text_area :p#{no}detail") %>
  </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
