<p id="notice"><%= notice %></p>

<h1>
  <b>パーティ名:</b>
  <%= @pokeparty.party %>
</h1>

<p>
  <b>戦績:</b>
  <%= @pokeparty.battlec %>回中
  <%= @pokeparty.winc %>回勝利
</p>

<p>
  <b>対戦形式:</b>
  <%= @pokeparty.battletype %>
  <b>ルール:</b>
  <%= @pokeparty.rule %>
  <b>ミラクルシュータ:</b>
  <%= @pokeparty.shooter %>
</p>

<p>
  <b>立ち回り:</b>
  <%= @pokeparty.strategic %>
</p>

<% (1..6).each do |no| %>

<br>
<p>
  <b>名前:</b>
  <%= eval("link_to @pokeparty.p#{no}name, @poke#{no}") %> 
  <b>　特性:</b>
  <%= eval("@pokeparty.p#{no}abilites") %>
  <b>　性格:</b>
  <%= eval("@pokeparty.p#{no}personality") %>
  <b>　持ち物:</b>
  <%= eval("@pokeparty.p#{no}belonging") %>
  <b>　役割:</b>
  <%= eval("@pokeparty.p#{no}role") %>
</p>
<dt class=list_line_even>
  <%= eval("@pokeparty.p#{no}trick1") %>
  <b>/</b>
  <%= eval("@pokeparty.p#{no}trick2") %>
  <b>/</b>
  <%= eval("@pokeparty.p#{no}trick3") %>
  <b>/</b>
  <%= eval("@pokeparty.p#{no}trick4") %>
</dt>

<table border=1>
    <caption>
        努力値
    </caption>
   <tr>
       <th> <b>HP</b> </th>
       <th>  <b>攻撃</b></th>
       <th>  <b>防御</b></th>
  <th>  <b>特攻</b></th>
  <th>  <b>特防</b></th>
  <th>  <b>素早</b></th>
    </tr>
    <tr>
        <th><%= eval("@pokeparty.p#{no}evh") %></th>
        <th>  <%= eval("@pokeparty.p#{no}eva") %></th>
        <th>  <%= eval("@pokeparty.p#{no}evb") %></th>
        <th>  <%= eval("@pokeparty.p#{no}evc") %></th>
        <th>  <%= eval("@pokeparty.p#{no}evd") %></th>
        <th>  <%= eval("@pokeparty.p#{no}evs") %></th>
    </tr>
    </table>
<p>
  <b>役割詳細:</b>
  <%= eval("@pokeparty.p#{no}detail") %>
</p>

<% end %>

<%= link_to 'Edit', edit_pokeparty_path(@pokeparty) %> |
<%= link_to 'Back', pokeparties_path %>
