<p id="notice"><%= notice %></p>

<p>
  <b>Party:</b>
  <%= @pokeparty.party %>
</p>

<p>
  <b>Battlec:</b>
  <%= @pokeparty.battlec %>
</p>

<p>
  <b>Winc:</b>
  <%= @pokeparty.winc %>
</p>

<p>
  <b>Battletype:</b>
  <%= @pokeparty.battletype %>
</p>

<p>
  <b>Rule:</b>
  <%= @pokeparty.rule %>
</p>

<p>
  <b>Shooter:</b>
  <%= @pokeparty.shooter %>
</p>

<p>
  <b>Strategic:</b>
  <%= @pokeparty.strategic %>
</p>

<p>
  <b>P1name:</b>
  <%= @pokeparty.p1name %>
</p>

<p>
  <b>P1abilites:</b>
  <%= @pokeparty.p1abilites %>
</p>

<p>
  <b>P1personality:</b>
  <%= @pokeparty.p1personality %>
</p>

<p>
  <b>P1belonging:</b>
  <%= @pokeparty.p1belonging %>
</p>

<p>
  <b>P1role:</b>
  <%= @pokeparty.p1role %>
</p>

<p>
  <b>P1trick1:</b>
  <%= @pokeparty.p1trick1 %>
</p>

<p>
  <b>P1trick2:</b>
  <%= @pokeparty.p1trick2 %>
</p>

<p>
  <b>P1trick3:</b>
  <%= @pokeparty.p1trick3 %>
</p>

<p>
  <b>P1trick4:</b>
  <%= @pokeparty.p1trick4 %>
</p>

<p>
  <b>P1evh:</b>
  <%= @pokeparty.p1evh %>
</p>

<p>
  <b>P1eva:</b>
  <%= @pokeparty.p1eva %>
</p>

<p>
  <b>P1evb:</b>
  <%= @pokeparty.p1evb %>
</p>

<p>
  <b>P1evc:</b>
  <%= @pokeparty.p1evc %>
</p>

<p>
  <b>P1evd:</b>
  <%= @pokeparty.p1evd %>
</p>

<p>
  <b>P1evs:</b>
  <%= @pokeparty.p1evs %>
</p>

<p>
  <b>P1detail:</b>
  <%= @pokeparty.p1detail %>
</p>

<p>
  <b>P2name:</b>
  <%= @pokeparty.p2name %>
</p>

<p>
  <b>P2abilites:</b>
  <%= @pokeparty.p2abilites %>
</p>

<p>
  <b>P2personality:</b>
  <%= @pokeparty.p2personality %>
</p>

<p>
  <b>P2belonging:</b>
  <%= @pokeparty.p2belonging %>
</p>

<p>
  <b>P2role:</b>
  <%= @pokeparty.p2role %>
</p>

<p>
  <b>P2trick1:</b>
  <%= @pokeparty.p2trick1 %>
</p>

<p>
  <b>P2trick2:</b>
  <%= @pokeparty.p2trick2 %>
</p>

<p>
  <b>P2trick3:</b>
  <%= @pokeparty.p2trick3 %>
</p>

<p>
  <b>P2trick4:</b>
  <%= @pokeparty.p2trick4 %>
</p>

<p>
  <b>P2evh:</b>
  <%= @pokeparty.p2evh %>
</p>

<p>
  <b>P2eva:</b>
  <%= @pokeparty.p2eva %>
</p>

<p>
  <b>P2evb:</b>
  <%= @pokeparty.p2evb %>
</p>

<p>
  <b>P2evc:</b>
  <%= @pokeparty.p2evc %>
</p>

<p>
  <b>P2evd:</b>
  <%= @pokeparty.p2evd %>
</p>

<p>
  <b>P2evs:</b>
  <%= @pokeparty.p2evs %>
</p>

<p>
  <b>P2detail:</b>
  <%= @pokeparty.p2detail %>
</p>

<p>
  <b>P3name:</b>
  <%= @pokeparty.p3name %>
</p>

<p>
  <b>P3abilites:</b>
  <%= @pokeparty.p3abilites %>
</p>

<p>
  <b>P3personality:</b>
  <%= @pokeparty.p3personality %>
</p>

<p>
  <b>P3belonging:</b>
  <%= @pokeparty.p3belonging %>
</p>

<p>
  <b>P3role:</b>
  <%= @pokeparty.p3role %>
</p>

<p>
  <b>P3trick1:</b>
  <%= @pokeparty.p3trick1 %>
</p>

<p>
  <b>P3trick2:</b>
  <%= @pokeparty.p3trick2 %>
</p>

<p>
  <b>P3trick3:</b>
  <%= @pokeparty.p3trick3 %>
</p>

<p>
  <b>P3trick4:</b>
  <%= @pokeparty.p3trick4 %>
</p>

<p>
  <b>P3evh:</b>
  <%= @pokeparty.p3evh %>
</p>

<p>
  <b>P3eva:</b>
  <%= @pokeparty.p3eva %>
</p>

<p>
  <b>P3evb:</b>
  <%= @pokeparty.p3evb %>
</p>

<p>
  <b>P3evc:</b>
  <%= @pokeparty.p3evc %>
</p>

<p>
  <b>P3evd:</b>
  <%= @pokeparty.p3evd %>
</p>

<p>
  <b>P3evs:</b>
  <%= @pokeparty.p3evs %>
</p>

<p>
  <b>P3detail:</b>
  <%= @pokeparty.p3detail %>
</p>

<p>
  <b>P4name:</b>
  <%= @pokeparty.p4name %>
</p>

<p>
  <b>P4abilites:</b>
  <%= @pokeparty.p4abilites %>
</p>

<p>
  <b>P4personality:</b>
  <%= @pokeparty.p4personality %>
</p>

<p>
  <b>P4belonging:</b>
  <%= @pokeparty.p4belonging %>
</p>

<p>
  <b>P4role:</b>
  <%= @pokeparty.p4role %>
</p>

<p>
  <b>P4trick1:</b>
  <%= @pokeparty.p4trick1 %>
</p>

<p>
  <b>P4trick2:</b>
  <%= @pokeparty.p4trick2 %>
</p>

<p>
  <b>P4trick3:</b>
  <%= @pokeparty.p4trick3 %>
</p>

<p>
  <b>P4trick4:</b>
  <%= @pokeparty.p4trick4 %>
</p>

<p>
  <b>P4evh:</b>
  <%= @pokeparty.p4evh %>
</p>

<p>
  <b>P4eva:</b>
  <%= @pokeparty.p4eva %>
</p>

<p>
  <b>P4evb:</b>
  <%= @pokeparty.p4evb %>
</p>

<p>
  <b>P4evc:</b>
  <%= @pokeparty.p4evc %>
</p>

<p>
  <b>P4evd:</b>
  <%= @pokeparty.p4evd %>
</p>

<p>
  <b>P4evs:</b>
  <%= @pokeparty.p4evs %>
</p>

<p>
  <b>P4detail:</b>
  <%= @pokeparty.p4detail %>
</p>

<p>
  <b>P5name:</b>
  <%= @pokeparty.p5name %>
</p>

<p>
  <b>P5abilites:</b>
  <%= @pokeparty.p5abilites %>
</p>

<p>
  <b>P5personality:</b>
  <%= @pokeparty.p5personality %>
</p>

<p>
  <b>P5belonging:</b>
  <%= @pokeparty.p5belonging %>
</p>

<p>
  <b>P5role:</b>
  <%= @pokeparty.p5role %>
</p>

<p>
  <b>P5trick1:</b>
  <%= @pokeparty.p5trick1 %>
</p>

<p>
  <b>P5trick2:</b>
  <%= @pokeparty.p5trick2 %>
</p>

<p>
  <b>P5trick3:</b>
  <%= @pokeparty.p5trick3 %>
</p>

<p>
  <b>P5trick4:</b>
  <%= @pokeparty.p5trick4 %>
</p>

<p>
  <b>P5evh:</b>
  <%= @pokeparty.p5evh %>
</p>

<p>
  <b>P5eva:</b>
  <%= @pokeparty.p5eva %>
</p>

<p>
  <b>P5evb:</b>
  <%= @pokeparty.p5evb %>
</p>

<p>
  <b>P5evc:</b>
  <%= @pokeparty.p5evc %>
</p>

<p>
  <b>P5evd:</b>
  <%= @pokeparty.p5evd %>
</p>

<p>
  <b>P5evs:</b>
  <%= @pokeparty.p5evs %>
</p>

<p>
  <b>P5detail:</b>
  <%= @pokeparty.p5detail %>
</p>

<p>
  <b>P6name:</b>
  <%= @pokeparty.p6name %>
</p>

<p>
  <b>P6abilites:</b>
  <%= @pokeparty.p6abilites %>
</p>

<p>
  <b>P6personality:</b>
  <%= @pokeparty.p6personality %>
</p>

<p>
  <b>P6belonging:</b>
  <%= @pokeparty.p6belonging %>
</p>

<p>
  <b>P6role:</b>
  <%= @pokeparty.p6role %>
</p>

<p>
  <b>P6trick1:</b>
  <%= @pokeparty.p6trick1 %>
</p>

<p>
  <b>P6trick2:</b>
  <%= @pokeparty.p6trick2 %>
</p>

<p>
  <b>P6trick3:</b>
  <%= @pokeparty.p6trick3 %>
</p>

<p>
  <b>P6trick4:</b>
  <%= @pokeparty.p6trick4 %>
</p>

<p>
  <b>P6evh:</b>
  <%= @pokeparty.p6evh %>
</p>

<p>
  <b>P6eva:</b>
  <%= @pokeparty.p6eva %>
</p>

<p>
  <b>P6evb:</b>
  <%= @pokeparty.p6evb %>
</p>

<p>
  <b>P6evc:</b>
  <%= @pokeparty.p6evc %>
</p>

<p>
  <b>P6evd:</b>
  <%= @pokeparty.p6evd %>
</p>

<p>
  <b>P6evs:</b>
  <%= @pokeparty.p6evs %>
</p>

<p>
  <b>P6detail:</b>
  <%= @pokeparty.p6detail %>
</p>


<%= link_to 'Edit', edit_pokeparty_path(@pokeparty) %> |
<%= link_to 'Back', pokeparties_path %>
