<p id="notice"><%= notice %></p>
<p>
  <%= @skilldb.skillname %>
</p>

<p>
  <b>タイプ</b>
  <%= @skilldb.skilltype %>
</p>

<p>
  <b>威力</b>
  <%= @skilldb.skillpower %>
</p>

<p>
  <b>命中</b>
  <%= @skilldb.skillhit %>
</p>

<p>
  <b>PP:</b>
  <%= @skilldb.skillpp %>
</p>

<p>
  <b>種類</b>
  <%= @skilldb.skillkind %>
</p>

<p>
  <b>範囲</b>
  <%= @skilldb.skillscope %>
</p>

<p>
  <b>追加効果</b>
  <%= @skilldb.skilleffect %>
</p>


<!-- <%= link_to 'Edit', edit_skilldb_path(@skilldb) %> |
<%= link_to 'Back', skilldbs_path %> -->
