<h1>Listing pokedbs</h1>

<table>
<!--
  <tr>
    <th>Number</th>
    <th>Image url</th>
    <th>Name</th>
    <th>Type1</th>
    <th>Type2</th>
    <th>Characteristic1</th>
    <th>Characteristic2</th>
    <th>Characteristic3</th>
    <th>Baseh</th>
    <th>Basea</th>
    <th>Baseb</th>
    <th>Basec</th>
    <th>Based</th>
    <th>Bases</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  -->
<% @pokedbs.each do |pokedb| %>
  <tr class="<%= cycle('list_line_odd', 'list_line_even') %>" >
    <td><%= pokedb.number %></td>
    
    
    <td>
      <%= pokedb.name %><br>
      <%= image_tag(pokedb.image_url, class: 'list_image') %>
    </td>

    <td class="list_description">
      <dl>  
        <%= pokedb.type1 %><br>
        <%= pokedb.type2 %>
      </dl>
    </td>

    
    
    <td>
      <%= pokedb.characteristic1 %><br>
      <%= pokedb.characteristic2 %><br>
      <%= pokedb.characteristic3 %>
    </td>

    <td>
      HP<br>
      <%= pokedb.baseh %>
    </td>
    <td>
      攻撃<br>
      <%= pokedb.basea %>
    </td>
    <td>
      防御<br>
      <%= pokedb.baseb %>
    </td>
    <td>
      特攻<br>
      <%= pokedb.basec %>
    </td>
    <td>
      特防<br>
      <%= pokedb.based %>
    </td>
    <td>
      素早<br>
      <%= pokedb.bases %>
    </td>
    <td>
      <%= link_to 'Show', pokedb %><br>
      <%= link_to 'Edit', edit_pokedb_path(pokedb) %><br>
      <%= link_to 'Destroy', pokedb, confirm: 'Are you sure?', method: :delete %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Pokedb', new_pokedb_path %>
