<p id="notice"><%= notice %></p>

<p>
  <b>図鑑No</b>
  <%= @pokedb.number %>
</p>

<p>
  <b>ポケモン名</b>
  <%= @pokedb.name %>
</p>
<p>
<%= image_tag (@pokedb.image_url)%>
</p>

<p>
  <b>タイプ1</b>
  <%= @pokedb.type1 %>
</p>

<p>
  <b>タイプ2</b>
  <%= @pokedb.type2 %>
</p>

<p>
  <b>特性1</b>
  <%= @pokedb.characteristic1 %>
</p>

<p>
  <b>特性2</b>
  <%= @pokedb.characteristic2 %>
</p>

<p>
  <b>夢特性</b>
  <%= @pokedb.characteristic3 %>
</p>

<p>
  <b>HP</b>
  <%= @pokedb.baseh %>
</p>

<p>
  <b>こうげき</b>
  <%= @pokedb.basea %>
</p>

<p>
  <b>ぼうぎょ</b>
  <%= @pokedb.baseb %>
</p>

<p>
  <b>とくこう</b>
  <%= @pokedb.basec %>
</p>

<p>
  <b>とくぼう</b>
  <%= @pokedb.based %>
</p>

<p>
  <b>すばやさ</b>
  <%= @pokedb.bases %>
</p>


<!-- <%= link_to 'Edit', edit_pokedb_path(@pokedb) %> |
<%= link_to 'Back', pokedbs_path %> -->
