<h1>Listing pokedbs</h1>

<table>
  <tr>
    <th>Number</th>
    <th>Image url</th>
    <th>Name</th>
    <th>Type1</th>
    <th>Type2</th>
    <th>Characteristic1</th>
    <th>Characteristic2</th>
    <th>Characteristic3</th>
    <th>Baseh</th>
    <th>Basea</th>
    <th>Baseb</th>
    <th>Basec</th>
    <th>Based</th>
    <th>Bases</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pokedbs.each do |pokedb| %>
  <tr>
    <td><%= pokedb.number %></td>
    <td><%= pokedb.image_url %></td>
    <td><%= pokedb.name %></td>
    <td><%= pokedb.type1 %></td>
    <td><%= pokedb.type2 %></td>
    <td><%= pokedb.characteristic1 %></td>
    <td><%= pokedb.characteristic2 %></td>
    <td><%= pokedb.characteristic3 %></td>
    <td><%= pokedb.baseh %></td>
    <td><%= pokedb.basea %></td>
    <td><%= pokedb.baseb %></td>
    <td><%= pokedb.basec %></td>
    <td><%= pokedb.based %></td>
    <td><%= pokedb.bases %></td>
    <td><%= link_to 'Show', pokedb %></td>
    <td><%= link_to 'Edit', edit_pokedb_path(pokedb) %></td>
    <td><%= link_to 'Destroy', pokedb, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Pokedb', new_pokedb_path %>
