<p id="notice"><%= notice %></p>

<p>
  <b>Number:</b>
  <%= @pokedb.number %>
</p>

<p>
  <b>Image url:</b>
  <%= @pokedb.image_url %>
</p>

<p>
  <b>Name:</b>
  <%= @pokedb.name %>
</p>

<p>
  <b>Type1:</b>
  <%= @pokedb.type1 %>
</p>

<p>
  <b>Type2:</b>
  <%= @pokedb.type2 %>
</p>

<p>
  <b>Characteristic1:</b>
  <%= @pokedb.characteristic1 %>
</p>

<p>
  <b>Characteristic2:</b>
  <%= @pokedb.characteristic2 %>
</p>

<p>
  <b>Characteristic3:</b>
  <%= @pokedb.characteristic3 %>
</p>

<p>
  <b>Baseh:</b>
  <%= @pokedb.baseh %>
</p>

<p>
  <b>Basea:</b>
  <%= @pokedb.basea %>
</p>

<p>
  <b>Baseb:</b>
  <%= @pokedb.baseb %>
</p>

<p>
  <b>Basec:</b>
  <%= @pokedb.basec %>
</p>

<p>
  <b>Based:</b>
  <%= @pokedb.based %>
</p>

<p>
  <b>Bases:</b>
  <%= @pokedb.bases %>
</p>


<%= link_to 'Edit', edit_pokedb_path(@pokedb) %> |
<%= link_to 'Back', pokedbs_path %>
